/* La partie menu de l'aside */
.menu_aside {
	text-align: center;
}

.menu_aside li {
	display: inline-block;
	position: relative;
}

.menu_aside li {
	padding: 10px 20px 10px 20px;
	background-color: #57788C;
	border-radius: 20px;
	margin-right: 10px;
}

.menu_aside a {
	text-decoration: none;
	font-weight: bold;
	color: #091723;
	font-size: 15px;
}

/* La partie aside */
aside {
	max-width: 1040px;
	height: 800px;
	display: block;
	/* text-align: justify; */
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
}

/* Paramètres pour la course */
.mini_transat h2 {
	margin-left: 10px;
}

.mini_transat img {
	width: 100%;
	max-width: 800px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mini_transat p {
	margin-left: 20px;
	margin-right: 20px;
}

.font_caveat {
	font-family: 'caveat-regular';
	font-size: 35px;
	font-weight: bold;
}


/* Paramètres pour le bateau */
.bateau h2 {
	margin-left: 10px;
	margin-top: 50px;
}

/* .bateau img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
} */

.bateau table {
    width: auto;
  }

.bateau th:first-child {
    width: 150px;
  }

.bateau th, td {
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
}

.bateau table {
	margin-left: 20px;
	margin-right: 20px;
}

@media (min-width: 1024px) {
	.photo_bateau {
		display: flex;
		justify-content: center;
		position: relative;
		padding-bottom: 10px;
	  }
	
	  .photo_bateau img {
		width: 36%;
		max-width: 100%;
		height: auto;
	  }
	
	  .photo_bateau img:nth-child(2) {
		margin-left: -70px;
		position: relative;
		z-index: 2;
		top: 40px;
	  }
	
	  .photo_bateau img:nth-child(3) {
		margin-left: -60px;
		position: relative;
		z-index: 1;
	  }
}

@media (min-width: 768px) and (max-width: 1023px) {
	.photo_bateau {
		display: flex;
		justify-content: center;
		position: relative;
		padding-bottom: 50px;
	  }
	
	  .photo_bateau img {
		width: 33.33%;
		max-width: 100%;
		height: auto;
	  }
	
	  .photo_bateau img:nth-child(2) {
		margin-left: -70px;
		position: relative;
		z-index: 2;
		top: 40px;
	  }
	
	  .photo_bateau img:nth-child(3) {
		margin-left: -60px;
		position: relative;
		z-index: 1;
	  }
}

@media (max-width: 767px) {
	.photo_bateau {
		justify-content: center;
		padding-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	  }
	.photo_bateau img {
		margin-bottom: 20px;
	}
}

/* Ce qu'il faut faire */
.participation h2 {
	margin-left: 10px;
	margin-top: 50px;
}

/* Paramètres du tableau */
.participation table {
    border-collapse: collapse;
    width: auto;
    border: 2px solid white;
	margin-left: 20px;
	margin-right: 20px;
	margin: auto;
  }

  .participation th,
  .participation td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
	text-align: center;
	vertical-align: middle;
  }

  .participation th {
    background-color: #57788C;
    color: white;
    vertical-align: middle;
  }

  .participation tr:nth-child(even) {
    background-color: rgb(188, 216, 237, 0.5);
  }

  .participation tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .participation tr:last-child td {
    border-bottom: none;
  }

  .participation td:first-child {
    border-left: 1px solid white;
  }

  .participation td:last-child {
    border-right: none;
  }

  .participation tr:first-child th:first-child {
    border-top-left-radius: 5px;
  }

  .participation tr:first-child th:last-child {
    border-top-right-radius: 5px;
    border-right: none;
  }

  .participation tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }

  .participation tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }

  .participation table {
	margin-bottom: 50px;
	margin-top: 50px;
  }

  @media (max-width: 767px) {

    
  }