/* Feuille de style pour la page contact - Contact */

/********** FORMAT GENERALE **********/
	.content {
		max-width: 1040px;
		background-color: rgba(255, 255, 255, 0.55);
		box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
	}

	main {
		display: flex;
		justify-content: center;
	}
	
	h2 {
		font-family: 'teko-semibold';
		font-weight: normal;
		font-style: normal;
		font-size: 35px;
	}

	.label input {
		min-width: 47%;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	input[type="radio"] {
		margin: 10px 5px 20px 10px;
	}
	
	input {
		background-color: rgb(244, 244, 244);
		border-width: 0px;
		box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 12px 0px;
		box-sizing: border-box;
		color: rgb(153, 153, 153);
		display: inline-block;
		font-size: 14px;
		padding: 16px;
		color: black;
	}

	/* texte en gris dans le champ */
	input::placeholder,
	textarea::placeholder {
		color: darkgray;
	}

	.textarea textarea {
		background-color: rgb(244, 244, 244);
		border-width: 0px;
		box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 12px 0px;
		box-sizing: border-box;
		color: rgb(153, 153, 153);
		display: inline-block;
		font-size: 14px;
		min-height: 150px;
		width: 100%;
		padding: 16px;
		font-family: 'Verdana';
	}

	div p {
		margin-top: 10px;
	}

	.button_send {
		float: right;
		display: flex;
		height: 50px;
		border-style: solid;
		border-width: 2px;
		border-color: rgb(9, 23, 35);
		border-radius: 3px;

	}

	button {
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 1px;
		padding: 4.5px 15px 4.5px 15px;
		background-color: transparent;
	}

/********** FORMAT ORDINATEUR **********/
@media (min-width: 1024px) {

	.content {
		width: 1040px;
		padding: 20px;
		margin: 50px;
	}
}

/********** FORMAT TABLETTE **********/
@media (min-width: 768px) and (max-width: 1023px) {

	.content {
		padding: 15px;
		margin: 20px;
	}

	.label input {
		min-width:calc(100% - 10px);
		margin-bottom: 15px;
	}
}

/********** FORMAT TELEPHONES PORTABLE **********/
@media (max-width: 767px) {

	.content {
		padding: 5px;
		margin: 2px;
	}

	h2 {
		font-size: 20px;
		margin-left: 10px;
	}

	.label input {
		min-width:calc(100% - 10px);
		margin-bottom: 15px;
	}

	.label {
		padding-left: 10px;
	}

	input[type="radio"] {
		margin: 10px 5px 10px 10px;
	}

	.radio {
		padding-left: 10px;

	}

	input,
	label,
	p {
		font-size: 12px;
	}

	.textarea {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;

	}
}