/* Police d'écriture supplémentaire */
@font-face {
	font-family: 'teko-semibold';
	src: url('../font/teko-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Corps de la page */
body {
	font-family: 'Verdana';
	background-image: url("../pictures/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.accueil{
	text-align: center;
	margin: 20px;
}

main img {
	max-width: 500px;
	height: auto;
}

/* Partie aside (logo rouge) */
.logo_rouge img {
	max-height: 400px;
	width: auto;
}

@keyframes rotate {
	0% {
		transform: rotate(225deg);
		opacity: 0;
	}
	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}

.rotation {
	animation: rotate 1s linear;
	animation-fill-mode: forwards;
}

/* FORMAT ORDINATEUR */
@media (min-width: 1024px) {
	/* Logo */
	.logo_menu {
		text-align: center;
		margin-top: 50px;
	}

	.logo_menu img {
		width: 250px;
	}

	/* Menu pour les ordinateurs */
	.menu_nav {
		text-align: center;
		font-family: 'Teko-semibold';
		font-size: 25px;
		list-style-type: none;
		text-transform: uppercase;
	}

	.menu_nav li {
		display: inline-block;
		margin-right: 25px;
		position: relative;
	}

	.menu_nav a {
		text-decoration: none;
		color: #091723;
	}

	.menu_nav a:hover { /* couleur du texte au survole avec la souris */
		color: #57788C; 
	}

	.menu_nav a.active { /* couleur du texte de la page active */
		color: #D8AE44;
	}

	/* l'icone burger du menu ne s'affiche pas quand c'est un grand écran */
	.menu_icon {
		display: none;
	}

	/* Menu en pied de page pour les ordinateurs */

	footer nav {
		text-align: center;
		list-style-type: none;
		background-color: rgba(255, 255, 255, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer ul, p {
		padding: 0px;
		margin: 0px;
	}

	footer p {
		margin-top: 15px;
	}

	footer li {
		display: inline-block;
		position: relative;
	}

	footer li:not(:first-child)::before {
		content: "|";
		position: relative;
		top: 2px;
		margin: 0;
		padding-left: 11px;
		padding-right: 11px;
		font-size: 20px;
		color: #091723;
	}

	footer a {
		text-decoration: none;
		font-weight: bold;
		color: #091723;
		font-size: 15px;
	}
}

/* FORMAT TABLETTE */
@media (min-width: 768px) and (max-width: 1023px) {
	.logo_menu {
		text-align: center;
		margin-top: 50px;
	}
	.logo_menu img {
		text-align: center;
		width: 150px;
	}

	/* Menu pour les tablettes */
	.menu_nav {
		display: none; /* Pour faire disparaite le texte du menu déroulant */
	}

	.menu_icon {
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		cursor: pointer;
	}

	#myMenu_nav.responsive {
		display: block;
	}

	#myMenu_nav ul{
		font-family: 'Teko-semibold';
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		padding: 0px;
		background-color: rgba(255, 255, 255, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#myMenu_nav li {
  		list-style-type: none;
	}

	#myMenu_nav a {
		text-decoration: none;
		color: #091723;
	}

	#myMenu_nav a:hover {
		color: #57788C;
	}

	#myMenu_nav a.active {
		color: #D8AE44;
	}

	/* Menu en pied de page pour les tablettes */

	footer nav {
		text-align: center;
		list-style-type: none;
		background-color: rgba(255, 255, 255, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer ul, p {
		padding: 0px;
		margin: 0px;
	}

	footer p {
		margin-top: 15px;
	}

	footer li {
		display: inline-block;
		position: relative;
	}

	footer li:not(:first-child)::before {
		content: "|";
		position: relative;
		top: 2px;
		margin: 0;
		padding-left: 11px;
		padding-right: 11px;
		font-size: 20px;
		color: #091723;
	}

	footer a {
		text-decoration: none;
		font-weight: bold;
		color: #091723;
		font-size: 15px;
	}
}

/* FORMAT TELEPHONES PORTABLE */
@media (max-width: 767px) {
	.logo_menu {
		text-align: center;
		margin-top: 50px;
	}
	.logo_menu img {
		text-align: center;
		width: 150px;
	}

	main img {
		max-width: 100%;
		height: auto;
	}
	
	/* Partie aside (logo rouge) */
	.logo_rouge img {
		max-height: 100%;
		width: auto;
	}

	/* Menu pour les téléphones portable */
	.menu_nav {
		display: none; /* Pour faire disparaite le texte du menu déroulant */
	}

	.menu_icon {
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		cursor: pointer;
	}

	#myMenu_nav.responsive {
		display: block;
	}

	#myMenu_nav ul{
		font-family: 'Teko-semibold';
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		padding: 0px;
		background-color: rgba(255, 255, 255, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#myMenu_nav li {
  		list-style-type: none;
	}

	#myMenu_nav a {
		text-decoration: none;
		color: #091723;
	}

	#myMenu_nav a:hover {
		color: #57788C;
	}

	#myMenu_nav a.active {
		color: #D8AE44;
	}

	/* Menu en pied de page pour les téléphones portable */
	
	footer nav {
		text-align: center;
		background-color: rgba(255, 255, 255, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer ul, p {
		padding: 0px;
		margin: 0px;
	}

	footer li {
		list-style-type: none;
		display: block;
		position: relative;
		margin-bottom: 2px;
	}

	footer p {
		margin-top: 15px;
	}

	footer a {
		text-decoration: none;
		font-weight: bold;
		color: #091723;
		font-size: 15px;
	}
}

