/* Feuille de style pour les pages annexes */

/********** IMPRESSUM **********/
	.content {
		max-width: 1040px;
		min-height: 500px;
		background-color: rgba(255, 255, 255, 0.55);
		box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
		margin-left: auto;
		margin-right: auto;
	}

	main {
		display: block;
		justify-content: center;
	}

	.content p {
		padding-bottom: 16px;
		text-align: justify;
		line-height: 25px;
	}

/********** FORMAT ORDINATEUR **********/
@media (min-width: 1024px) {
	.content {
		padding: 20px;
		margin-top: 80px;
	}

}

/********** FORMAT TABLETTE **********/
@media (min-width: 768px) and (max-width: 1023px) {

	.content {
		padding: 15px;
		margin: 20px;
	}
}

/********** FORMAT TELEPHONES PORTABLE **********/
@media (max-width: 767px) {

	.content {
		padding: 5px;
		margin: 2px;
	}

	.content h2 {
		font-size: 12px;
	}

}